@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}


@theme{
    --auto: repeat(auto-fit, minmax(200px,1fr));
}